<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/phat/css/base.css">
        <link rel="stylesheet" href="/phat/css/main.css">
        <link rel="stylesheet" href="/phat/fonts/fontawesome-free-6.1.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- <h1>Home page</h1>
        <p>customer view</p>
        <a href="/login/user" class="btn">login for customer</a>
        <br>
        <a href="/login/staff">login for staff</a>
        <br>
        <a href="/register/user">Register for user</a>
        <br>
        <a href="/register/staff">Register for staff</a> -->

        <div class="app">

            <!-- header -->
            <%-include('../partials/banner.ejs') %> 
            <!--  -->

            <div class="app__container">
                
                <div class="grid">
                    <div class="grid__row app__content">
                        <div class="grid__column-2">
                            <nav class="category">
                                <h3 class="category__heading">Danh mục</h3>
            
                                <ul class="category-list">
                                    <li class="category-item ">
                                        <a href="/" class="category-item__link">Tất cả</a>
                                    </li>
                                    <% categories.forEach(function(categoryitem){%>

                                        <li class="category-item">
                                            <a href="/category-<%=categoryitem.id%>" class="category-item__link"><%=categoryitem.name%></a>
                                        </li>
                                    <%}); %> 
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="grid__column-10">
                            <div class="home-filter">
                                <span class="home-filter__label">Sắp xếp theo</span>
                                <button class="home-filter__btn btn">Phổ biến</button>
                                <button class="home-filter__btn btn btn--primary">mới nhất</button>
                                <button class="home-filter__btn btn">Bán chạy</button>

                                <div class="select-input">
                                    <span class="select-input__label">Giá</span>
                                    <i class="select-input__icon fa-solid fa-sort-down"></i>

                                    <!-- list option -->
                                    <ul class="select-input__list">
                                        <li class="select-input__item">
                                            <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                                        </li>
                                        <li class="select-input__item">
                                            <a href="" class="select-input__link">Giá: Cao đến Thấp</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="home-filter__page">
                                    <span class="home-filter__page-num">
                                        <span class="home-filter__page-current">1</span>/ 14
                                    </span>
                                    <div class="home-filter__page-control">
                                        <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                            <i class="home-filter__page-icon fa-solid fa-caret-left"></i>                                          
                                        </a>
                                        <a href="" class="home-filter__page-btn">
                                            <i class="home-filter__page-icon fa-solid fa-caret-right"></i>                                           
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="home-product">
                                <div class="grid__row">

                                    <!-- product items -->
                                    <% data.forEach(function(dataItem){%>
                                        <%if(dataItem.amount>0){%>
                                            <div class="grid__column-2-4">
                                                <a class="home-product-item" href="#">
                                                    <div class="home-product-item__img" style="background-image: url('<%=dataItem.good_img%>');"></div>
                                                    <h4 class="home-product-item__name"><%= dataItem.name %> </h4>
                                                    <div class="home-product-item__price">
                                                        <% if(dataItem.discount>0){%>
                                                            <span class="home-product-item__price-old"><%=dataItem.sellPrice%>VND</span>
                                                            <span class="home-product-item__price-current"><%=dataItem.sellPrice*(1-dataItem.discount*0.01)%>VND</span>
                                                        <%}else{%>
                                                            <span class="home-product-item__price-current"><%=dataItem.sellPrice%>VND</span>
                                                        <%} %> 

                                                    </div>
        
                                                    <div class="home-product-item__action">
                                                        <span class="home-product-item__like home-product-item__like--liked">
                                                            <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                                            <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                                            
                                                        </span>
                                                        <div class="home-product-item__rating">
                                                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                            <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </div>
                                                        <span class="home-product-item__sold">88 Đã bán</span>
                                                    </div>
        
                                                    <div class="home-product-item__origin">
                                                        <span class="home-product-item__brand">Whoa</span>
                                                        <span class="home-product-item__origin-name">Nhật bản</span>
                                                    </div>
        
                                                    <%if(dataItem.amount>50){%>
                                                        <div class="home-product-item__favourite">
                                                            <i class="fa-solid fa-check"></i>
                                                            <span>Yêu Thích</span>
                                                        </div>
                                                    <%}%>


                                                    <% if(dataItem.discount>0){%>
                                                        <div class="home-product-item__sale-off">
                                                            <span class="home-product-item__sale-off-percent"><%= dataItem.discount %>%</span>
                                                            <span class="home-product-item__sale-off-label">Giảm</span>
                                                        </div>
                                                    <%} %> 


                                                </a>
                                            </div>
                                        <%}%>

                                    <%}); %> 



                                </div>
                            </div>

                            <!-- <ul class="pagination home-product__pagination">
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">
                                        <i class="pagination-item__icon fa-solid fa-caret-left"></i>
                                    </a>
                                </li>

                                <li class="pagination-item pagination-item--active">
                                    <a href="" class="pagination-item__link">1</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">2</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">3</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">...</a>
                                </li>
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">31</a>
                                </li>                                
                                <li class="pagination-item">
                                    <a href="" class="pagination-item__link">
                                        <i class="pagination-item__icon fa-solid fa-caret-right"></i>
                                    </a>
                                </li>
                            </ul> -->

                        </div>
                    </div>
                </div>

            </div>


            <!-- footer -->
            <%-include('../partials/buyingFooter.ejs') %> 
            <!--  -->

        </div>

        <script>

            // change color of ative link
                let categorylist=document.querySelectorAll('.category-list .category-item a');
                let currentative=document.querySelector('.category-list .category-item--active');

                // console.log(window.location.href);
                // console.log(categorylist);




                window.onload=function(){
                        if(currentative){
                            currentative.classList.remove('category-item--active'); // remove old active
                        }
                        for (let i = 0; i < categorylist.length; i++) {
                            // console.log([categorylist[i].href]);
                            tempURL=tachURL(categorylist[i].href);
                            tagertURL=tachURL(window.location.href);
                            if(tempURL==tagertURL){
                                categorylist[i].parentNode.classList.add('category-item--active');
                            }
                            
                        }

                };
                
                // for (let i = 0; i < categorylist.length; i++) {
                //     categorylist[i].onload =function(e){
                //         let currentative=document.querySelector('.category-list .category-item--active');
                //         if(currentative){
                //             currentative.classList.remove('category-item--active'); // remove old active
                //         }
                //         let newcategoryactive = e.target.parentNode;
                //         // console.log([newcategoryactive]);
                //         newcategoryactive.classList.add('category-item--active'); // add active 
                //     }
                    
                // }   



                function tachURL(path){
                    path=''+path;
                    let num=path.lastIndexOf('/category-');
                    return path.slice(num);
                }
        </script>

    </body>
</html>