<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="/phat/css/base.css">
        <link rel="stylesheet" href="/phat/css/main.css">
        <link rel="stylesheet" href="/phat/fonts/fontawesome-free-6.1.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- <h1>Home page</h1>
        <p>customer view</p>
        <a href="/login/user" class="btn">login for customer</a>
        <br>
        <a href="/login/staff">login for staff</a>
        <br>
        <a href="/register/user">Register for user</a>
        <br>
        <a href="/register/staff">Register for staff</a> -->

        <div class="app">

            <!-- header -->
            <%-include('../partials/banner.ejs') %> 
            <!--  -->

            <div class="app__container">
                
                <div class="grid">
                    <div class="grid__row app__content">
                        <div class="grid__column-8-5">
                            <% if(check){ %> 
                            <div class="Product-Cart-list">
                                
                                <%productlist.forEach(function(dataItem){%>
                                    <div class="Product-Cart-item">
                                        <img class="grid__column-2 Product-Cart-item-img" src="<%= dataItem.good_img %>" alt="">
                                        <div class="grid__column-5 Product-Cart-item-infor">
                                            <h3 class="Product-Cart-item-name"><%= dataItem.name %></h3>
                                            <div class="Product-Cart-item-type"><%= dataItem.category %></div>
                                        </div>
                                        <div class="grid__column-2 Product-Cart-item-price-delete">
                                            <div class="Product-Cart-item-price"><%=dataItem.sellPrice*(1-dataItem.discount*0.01)%> VNĐ</div>
                                            <div class="Product-Cart-item-delete" onclick="deleteProductoutofcart(event,'<%=dataItem.goodID%>','<%=dataItem.orderID%>')">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </div>
                                        </div>
                                        <div class="grid__column-3 Product-Cart-item-select">
                                            <div class="Product-Cart-item-minus Product-Cart-item-select-icon">
                                                <i class="fa-solid fa-minus"></i>   
                                                <div class="minus-click" onclick="decreasingProduct(event,'<%=dataItem.goodID%>','<%=dataItem.orderID%>')"></div>
                                            </div>
                                            <div class="Product-Cart-item-quanity"><%=dataItem.amount%></div>
                                            <div class="Product-Cart-item-plus Product-Cart-item-select-icon">
                                                <i class="fa-solid fa-plus"></i>
                                                <div class="plus-click" onclick="increasingProduct(event,'<%=dataItem.goodID%>','<%=dataItem.orderID%>')"></div>
                                            </div>
                                        </div>
                                    </div>
                                <%})%>
                                
                                <!-- <div class="Product-Cart-item">
                                    <img class="grid__column-2 Product-Cart-item-img" src="https://lzd-img-global.slatic.net/g/p/99f622ae5873272aa6bbe032f5621f1b.jpg_120x120q80.jpg_.webp" alt="">
                                    <div class="grid__column-5 Product-Cart-item-infor">
                                        <h3 class="Product-Cart-item-name">
                                            Cho Apple Pencil Bút Cảm Ứng Thông Minh Chống Nhầm Lẫn iPad Pro 12.9 11 Air Mini 2021
                                        </h3>
                                        <div class="Product-Cart-item-type">Baseus, Nhóm Màu:Active</div>
                                    </div>
                                    <div class="grid__column-2 Product-Cart-item-price-delete">
                                        <div class="Product-Cart-item-price">200.000 VND</div>
                                        <div class="Product-Cart-item-delete">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </div>
                                    </div>
                                    <div class="grid__column-3 Product-Cart-item-select">
                                        <div class="Product-Cart-item-minus Product-Cart-item-select-icon">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                        <div class="Product-Cart-item-quanity">1</div>
                                        <div class="Product-Cart-item-plus Product-Cart-item-select-icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="Product-Cart-item">
                                    <img class="grid__column-2 Product-Cart-item-img" src="https://lzd-img-global.slatic.net/g/p/99f622ae5873272aa6bbe032f5621f1b.jpg_120x120q80.jpg_.webp" alt="">
                                    <div class="grid__column-5 Product-Cart-item-infor">
                                        <h3 class="Product-Cart-item-name">
                                            Cho Apple Pencil Bút Cảm Ứng Thông Minh Chống Nhầm Lẫn iPad Pro 12.9 11 Air Mini 2021
                                        </h3>
                                        <div class="Product-Cart-item-type">Baseus, Nhóm Màu:Active</div>
                                    </div>
                                    <div class="grid__column-2 Product-Cart-item-price-delete">
                                        <div class="Product-Cart-item-price">200.000 VND</div>
                                        <div class="Product-Cart-item-delete">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </div>
                                    </div>
                                    <div class="grid__column-3 Product-Cart-item-select">
                                        <div class="Product-Cart-item-minus Product-Cart-item-select-icon">
                                            <i class="fa-solid fa-minus"></i>
                                        </div>
                                        <div class="Product-Cart-item-quanity">1</div>
                                        <div class="Product-Cart-item-plus Product-Cart-item-select-icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                </div> -->
                            <% }%>
                                
                            </div>
                        </div>
                        <!-- price view -->
                        <div class="grid__column-3-5">
                            <div class="Price-View">
                                <div class="order-status">
                                    <span>Trạng thái: pending</span>
                                </div>
                                <div class="order-price-infor">
                                    <h2 class="order-price-infor-heading">
                                        Thông Tin sản Phẩm
                                    </h2>
                                    <div class="provisional-price-infor">
                                        <div class="provisional-price-infor-heading">Tạm Tính ( <%=productInCart.length%> sản phẩm):</div>
                                        <div class="provisional-price"><%= price%> Đ</div>
                                    </div>
                                    <div class="ship-price-infor">
                                        <div class="ship-price-infor-heading">Phí giao hàng:</div>
                                        <div class="ship-price"><%= shipfee%> Đ</div>
                                    </div>
                                    <hr>
                                    <div class="total-price-infor">
                                        <h3 class="total-price-infor-heading">Tổng cộng:</h3>
                                        <div class="total-price"><%= totalprice%> Đ</div>
                                    </div>
                                    <div class="btn btn--primary buying-btn" onclick="changestatusOrder('<%=productlist[0].orderID%>')">Mua hàng</div>                                 

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <!-- footer -->
            <%-include('../partials/buyingFooter.ejs') %> 
            <!--  -->

        </div>

        <script>
            function deleteProductoutofcart(e,idProduct,idOrder){
                let nextsibNode = e.target.parentNode.parentNode.nextElementSibling;
                let quantityNode = nextsibNode.querySelector('.Product-Cart-item-quanity');
                let quantityvalue = quantityNode.innerText;
                // console.log(quantityvalue);
                let xhttp=new XMLHttpRequest();
                // alert(idOrder,idProduct);
                url='/delProductOutCart/'+idProduct+'/'+idOrder+'/'+quantityvalue;
                xhttp.open("GET",url);
                xhttp.send();
                xhttp.onload=function(){
                    // alert(this.responseText);
                    location.reload();
                }
            }
            
            function increasingProduct(e,goodID,orderID){
                let parentQuantity=e.target.parentNode.parentNode;
                let quantityNode = parentQuantity.querySelector('.Product-Cart-item-quanity')
                quantityNode.innerText=parseInt(quantityNode.innerText)+1;
                const quantity=quantityNode.innerText;
                let nameProduct = parentQuantity.parentNode.querySelector('.Product-Cart-item-name').innerText;
                let nodet =document.querySelectorAll('.header__cart-item');
                for (let i = 0; i < nodet.length; i++) {
                    const element = nodet[i];
                    let namenode = element.querySelector('.header__cart-item-name');
                    // console.log(namenode.innerText);
                    if(nameProduct.trim()==namenode.innerText.trim()){
                        // console.log(element);
                        element.querySelector('.header__cart-item-qnt').innerText=quantity+' ';
                        break;
                    }
                    
                }
                let xhttp = new XMLHttpRequest();
                url ='/increasingProduct/'+goodID+'/'+orderID+'/'+quantity;
                xhttp.open("GET",url);
                xhttp.send();
                xhttp.onload=function(){
                    let price = this.responseText;
                    document.querySelector('.provisional-price').innerText=price+ ' Đ';
                    let feePriceNode=document.querySelector('.ship-price').innerText;
                    let feePrice = feePriceNode.split(' ')[0];
                    document.querySelector('.total-price').innerText = (parseInt(feePrice)+ parseInt(price))+' Đ';
        
                }
            }
            function decreasingProduct(e,goodID,orderID){
                let parentQuantity=e.target.parentNode.parentNode;
                let quantityNode = parentQuantity.querySelector('.Product-Cart-item-quanity')
                if(parseInt(quantityNode.innerText)>1){
                    quantityNode.innerText=parseInt(quantityNode.innerText)-1;
                    const quantity=quantityNode.innerText;
                    let nameProduct = parentQuantity.parentNode.querySelector('.Product-Cart-item-name').innerText;
                    let nodet =document.querySelectorAll('.header__cart-item');
                    for (let i = 0; i < nodet.length; i++) {
                        const element = nodet[i];
                        let namenode = element.querySelector('.header__cart-item-name');
                        // console.log(namenode.innerText);
                        if(nameProduct.trim()==namenode.innerText.trim()){
                            // console.log(element);
                            element.querySelector('.header__cart-item-qnt').innerText=quantity+' ';
                            break;
                        }
                        
                    }
                    let xhttp = new XMLHttpRequest();
                    url ='/decreasingProduct/'+goodID+'/'+orderID+'/'+quantity;
                    xhttp.open("GET",url);
                    xhttp.send();
                    xhttp.onload=function(){
                        let price=this.responseText;
                        document.querySelector('.provisional-price').innerText=price+ ' Đ';
                        let feePriceNode=document.querySelector('.ship-price').innerText;
                        let feePrice = feePriceNode.split(' ')[0];
                        document.querySelector('.total-price').innerText = (parseInt(feePrice)+ parseInt(price))+' Đ';
                    }
                }
            }
            function changestatusOrder(orderID){
                
                let xhttp = new XMLHttpRequest();
                url='/changestatusOrder/'+orderID;
                xhttp.open("GET",url);
                xhttp.send();
                xhttp.onload=function(){
                    // alert(this.responseText);
                    alert('đơn của bạn đã đặt thành công');
                    location.reload();
                }
            }
        </script>

        <script src="/phat/js/insert_delete_product.js"></script>

        

    </body>
</html>