<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/nguyen/ware.css">

</head>

<body>
    <div class="container">

        <!-- navigation -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                        <span class="title">Brand name</span>
                    </a>
                </li>
                <li class="active">
                    <a href="">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="title">Message</span>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                
                <li>
                    <a href="/logout/staff">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="main">
            <!-- topbar -->
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search searchBar">
                    <label>
                        <input type="text" placeholder="Search product name or product id" id="searchBar">
                        <ion-icon name="search-outline"></ion-icon>
                        <div class="result hide">
                            <table class="search-container">
                            </table>
                        </div>
                    </label>
                </div>
                <div class="formBar">
                    <form action="/ware/" method="POST">
                        <label for="cat">Choose a category:</label>
                        <select name="cat" onchange="this.form.submit()" id="selectcat">
                          <option value="0">Select category</option>
                          <option value="1">Rau củ</option>
                          <option value="2">Trái cây</option>
                          <option value="3">Thực phẩm đóng gói</option>
                          <option value="4">Thực phẩm tươi</option>
                          <option value="5">Tạp hóa phẩm</option>
                          <option value="6">Nước uống</option>
                          <option value="7">Quần áo nam</option>
                          <option value="8">Quần áo nữ</option>
                          <option value="9">Gia dụng</option>
                          <option value="10">Đặc biệt</option>
                        </select>
                        <br><br>
                    </form>
                </div>
                <div>
                    <a href="/ware">Reset</a>
                </div>

                <!-- user image -->
                <div class="user">
                    <img src="/truong/img/user.jpg" alt="User">

                </div>
            </div>
            <div class="details">
                <div class="products-container">
                    <% var i = 0; %>
                        <% data.products.forEach(function(product){ %>
                            <div class="product" id="p-<%=product.id%>">
                                <img src="<%= product.good_img %>" alt="" class="pimg">
                                <div style="display: block; font-size: 0.8rem;">

                                    <h2 style="padding-top: 7px;" hidden>
                                        <span class="pid"><%= product.id %></span>
                                    </h2>
                                    <h2 style="padding-top: 7px;">
                                        <span class="pname"><%= product.name %></span>
                                    </h2>
                                    <h2 style="padding-top: 7px; color: red">
                                        <span class="pprice"><%= product.sellPrice %></span>
                                    </h2>
                                    <h2 style="padding-top: 7px; color: red; display: none">
                                        <span class="pposition"><%= product.position %></span>
                                    </h2>
                                    <h2 style="padding-top: 7px;">Số lượng: <span style="color: green;" class="pamount"><%= product.amount %></span> </h2>
                                </div>


                                <div class="buttons">
                                    <a href="/ware/deleteproduct/<%=product.id%>" class="delete">delete</a>
                                    <a href="#p-<%=i%>" class="edit" onclick="updateproduct(<%=product.id%>)">edit</a>
                                </div>
                            </div>
                            <% i = i +1; %>
                                <%}) %>
                </div>
                <div class="control">
                    <div class="recentCustomers">
                        <div class="cardHeader">
                            <h2>Cập nhật sản phẩm </h2>
                        </div>
                        <img id="product-img" src="https://inboundmarketing.vn/wp-content/uploads/2020/06/khai-niem-ve-san-pham-product-va-nhung-cach-phan-loai-chung.jpg" alt="">
                        <div class="form-product">
                            <form action="/ware/updateproduct" method="GET">
                                <input type="text" id="productid" name="productid" placeholder="Your " value="" hidden>
                                <label for="tensp">Tên SP </label>
                                <input type="text" id="tensp" name="tensp" placeholder="Product name " value="">
                                
                                <label for="amount">Số lượng</label>
                                <input type="number" id="amount" name="amount" placeholder="Product Amount">
                                
                                <label for="position">Vị trí</label>
                                <input type="number" id="position" name="position" placeholder="Product position">
                                
                                <label for="price">Giá</label>
                                <input type="number" id="price" name="price" placeholder="Product price">
                                
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>

                    <div class="recentCustomers">
                        <div class="cardHeader">
                            <h2 style="color: green;">Thêm sản phẩm mới </h2>
                        </div>
                        <div class="form-product">
                            <form action="/ware/addproduct" method="GET">
                                <label for="addimg">Link hình ảnh </label>
                                <input type="text" id="addimg" name="image" placeholder="Product link.." style="right: 0;">
                                <label for="addname">Tên SP </label>
                                <input type="text" id="addname" name="addname" placeholder="Product name">
                                
                                <label for="addamount">Số lượng</label>
                                <input type="number" id="addamount" name="addamount" placeholder="Product amount">
                                
                                <label for="addpos">Vị trí</label>
                                <input type="text" id="addpos" name="addpos" placeholder="Product position">
                                
                                <label for="addprice">Giá</label>
                                <input type="text" id="addprice" name="addprice" placeholder="Product price">
                                
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                    <div class="recentCustomers nhaphang">
                        <div class="cardHeader">
                            <h2 style="color: green;">Nhập hàng </h2>
                        </div>
                        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Bright_red_tomato_and_cross_section02.jpg" alt=""> -->
                        <div class="form-product">
                            <form action="/ware/importproduct" method="GET">
                                <input type="number" id="imamount1" name="imamount1" hidden>
                                <label for="imid">ID SP </label>
                                <input type="text" id="imid" name="imid" placeholder="Product ID" disabled>
                                
                                <label for="imamount">Số lượng</label>
                                <input type="number" id="imamount" name="imamount" placeholder="Product amount">
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>




    </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        //menu toggle
        let toggle = document.querySelector('.toggle');
        let main = document.querySelector('.main');
        let navigation = document.querySelector('.navigation');

        toggle.onclick = function() {
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        //add hovered class for selected list item
        let list = document.querySelectorAll('.navigation li');

        function hoveredLink() {
            this.classList.add('hovered');
        }

        function unhoveredLink() {
            this.classList.remove('hovered')
        }
        list.forEach((item) => {
            item.addEventListener('mouseover', hoveredLink);
            item.addEventListener('mouseleave', unhoveredLink);
        });



        function updateproduct(i) {
            var idname = "p-" + i.toString();
            var product = document.getElementById(idname);

            document.getElementById("product-img").src = product.getElementsByClassName("pimg")[0].src;
            document.getElementById("productid").value = product.getElementsByClassName("pid")[0].innerHTML;
            document.getElementById("tensp").value = product.getElementsByClassName("pname")[0].innerHTML;
            document.getElementById("amount").value = product.getElementsByClassName("pamount")[0].innerHTML;
            document.getElementById("imamount1").value = product.getElementsByClassName("pamount")[0].innerHTML;
            document.getElementById("position").value = product.getElementsByClassName("pposition")[0].innerHTML;
            document.getElementById("price").value = product.getElementsByClassName("pprice")[0].innerHTML;
            document.getElementById("imid").value = product.getElementsByClassName("pid")[0].innerHTML;
        }


        let allProduct;
        let foundProduct;

        const xhttp1 = new XMLHttpRequest();
        xhttp1.onload = function() {
            allProduct = JSON.parse(this.responseText);
        }
        const url1 = "/cashier/getAllProduct";
        xhttp1.open("GET", url1, true);
        xhttp1.send();


        const searchBar = document.getElementById("searchBar");
        searchBar.addEventListener("keyup", find);


        const result = document.getElementsByClassName("result")[0];
        const container = document.getElementsByClassName("search-container")[0];

        const removeSearchBar = document.getElementById("remove");
        removeSearchBar.addEventListener("click", () => {
            searchBar.value = "";
            result.classList.add("hide");
        })

        function find() {
            if (!searchBar.value) {
                result.classList.add("hide");
                return;
            }
            foundProduct = allProduct.filter(product => {
                const a = product.name.indexOf(searchBar.value);
                const b = String(product.id).indexOf(searchBar.value);
                if (a !== -1 || b !== -1) return true;
                else return false;
            })
            if (!foundProduct.length) {
                container.innerHTML = `No result`;
                return;
            }
            console.log(foundProduct);
            container.innerHTML = "";
            for (let index = 0; index < foundProduct.length; index++) {
                const product = foundProduct[index];
                container.innerHTML += `<tr onclick="updateproduct(${product.id})"><td><img src="${product.good_img}" alt=\"\"></td><td class="res-content">${product.name}</td></tr>`;
            }
            result.classList.remove("hide");
            const choices = document.getElementsByClassName("choice");
            for (let index = 0; index < choices.length; index++) {
                const choice = choices[index];
                choice.addEventListener("click", function(evt) {
                    console.log(evt.srcElement.id);
                    if (!addedProduct.find(product => product.id === Number(evt.srcElement.id))) {
                        const newProduct = foundProduct.find(product => product.id === Number(evt.srcElement.id));
                        const otherProduct = JSON.parse(JSON.stringify(newProduct));
                        otherProduct.amount = 1;
                        addedProduct = [...addedProduct, otherProduct];
                        reloadBill();
                    }
                })
            }
        }
    </script>

    
</body>

</html>